.about-photo {
    display: flex;
    justify-content: center;
}

img {
    max-height: 300px;
    width: auto;
    padding: 20px 1px 20px 5px;
}

.socials {
    padding-left: 10px;
    color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutme p {
    font-family: 'Poppins';
    font-weight: 300;
    text-align: justify;

}

.accordion-item {
    color: var(--green);
}

.skills {
    font-family: 'Poppins';
    width: 100%;
}

.skills h2 {
    color: var(--dark-text);
    text-transform: uppercase;
}


@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .skills h2 {
        font-size: 30px;
    }
}