.about {
    margin-top: 80px;
}

.about-photo {
    display: flex;
    justify-content: center;
}

/* 
img {
    max-height: 300px;
    width: auto;
    padding: 20px 1px 20px 5px;
} */

.socials {
    padding-left: 10px;
    color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutme p {
    font-family: 'Poppins';
    font-weight: 300;
    text-align: justify;

}

.accordion-item {
    color: var(--brown-text);
}

.skills {
    font-family: 'Poppins';
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    color: var(--brown-text);
}

.skills h1 {
    font-family: 'Abril Fatface';
    letter-spacing: 3px;
    transform: rotate(-90deg);
}

.linkToProjects {
    font-family: 'Abril Fatface';
    font-size: x-large;
}


@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .skills h2 {
        font-size: 30px;
    }
}