.contact {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    font-family: 'Abril Fatface';
}

.contact-info,
.card-text {
    font-family: 'Poppins';
    font-weight: 500;
}

.contact-info {
    min-width: 300px;
}

.modal-header {
    font-family: 'Abril Fatface';
}

.btn-primary {
    border-radius: 50px;
    width: 150px;
    background-color: var(--blue);

}

.btn-primary:hover {
    color: pink;
}