.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Abril Fatface';
}

.contact-info {
    font-family: 'Poppins';
    font-weight: 300;
}

.modal-header {
    font-weight: 500;
}

.form-headers {
    font-weight: 300;
}

.modalBtn {
    display: flex;
}

.btn-primary {
    width: 100px;
    background-color: var(--brown-text);
    color: var(--blue);
}