@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=League+Spartan:wght@200;300;500;700&display=swap');

:root {
  --background-primary: #FFFFF;
  --dark-text: #24242D;
  --brown-text: #867569;
  --light-text: #F5F4F2;
}

/* .App {
  margin-top: 80;
} */

body {
  font-family: "League Spartan";
  font-weight: 300;
  padding: 0;
  background-color: var(--background-primary);
}

a {
  text-decoration: none;
  color: #004E5C;
}

/* home styles */
.text-container {
  padding-left: 100px;
  justify-content: flex-end;
  max-height: 400px;
}

.image-container {
  padding-bottom: 50px;
  max-height: 620px;
}

.intro-text {
  font-family: 'Abril Fatface';
  font-size: 3em;
}

.line {
  border-bottom: 2px solid black;

}

/* footer styles */
.footer {
  background-color: #f5f5f5;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  font-weight: 700;
  font-size: 20px;
  color: #004E5C;
}

.copyright-text {
  text-align: center;
  color: #004E5C;
}

.sitemap {
  padding-right: 40px;
}

.social-media-links ul,
.sitemap ul {
  list-style-type: none;
  padding: 0;
}