@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --red: #D64E46;
  --green: #9FA666;
  --blue: #D4E7FB;
  --nude: #F2DDC0;
  --background-primary: #F4E9D9;
  --dark-text: #24242D;
  --brown-text: #867569;
  --light-text: #F5F4F2;
  --background-secondary: #FAF9F8;
}

/* .App {
  text-align: center;
} */

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-primary);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */