.project-sec {
    padding-top: 7rem;
}

.project-thumbnail {
    width: 100%;
    height: auto;
}

.project {
    overflow: hidden;
    width: 255px;
    text-align: center;
    background-color: var(--primary-color);
    border: 1px solid var(--text-color-3);
    box-shadow: 0 3px 24px rgb(0 0 0 / 5%);
    border-radius: 8px;
}

.proj-title h5 {
    font-family: 'League Spartan';
    margin-bottom: 10px;
    font-size: 19spx;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.tech-list {
    margin: 15px 0;
}

.proj-footer {
    margin-top: 20px;
    background-color: var(--text-color-3);
}